<div class="container">

    <h1>
        Produtos da minha loja
    </h1>

    
    <table class="table table-striped">
        <thead>
            <tr class="d-flex">
                <th class="col -sm 6">Produto</th>
                <th class="col -sm 2">Valor</th>
                <th class="col -sm 4">Imagens</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let produto of produtos">
                <td class="col-sm-6">{{produto.descricao}}</td>
                <td class="col-sm-2">R$ {{produto.valor | number: '.2'}}</td>
                <td class="imagem col-sm-4"> <img src="{{produto.imagem}}"></td>
            </tr>
            
        </tbody>
            
    </table>
</div>
