<div class="container">

    <h1>
        Produtos da minha loja
    </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Caneta</td>
                <td>R$ 1,00</td>
            </tr>
            <tr>
                <td>Caderno</td>
                <td>R$ 5,00</td>
            </tr> 
            <tr>
                <td>Borracha</td>
                <td>R$ 0,50</td>
            </tr> 
            <tr>
                <td>Lapis</td>
                <td>R$ 0,85</td>
            </tr>      
        </tbody>
    </table>
</div>
